# Created by .ignore support plugin (hsz.mobi)
/venv/
/partIVch2/datasets/ResNet50.h5
/partIVch2/myfig.jpg
/partIVch2/myfig1.jpg
/partIVch2/myfig2.jpg
/partIVch2_1/datasets/
/partIVch3/font/
/partIVch3/images/
/partIVch3/model_data/
/partIVch3/nb_images/
/partIVch3/out/
/partIVch4/images/
/partIVch4/output/
/partIVch4/pretrained-model/
/partIVch4_1/images/
/partIVch4_1/datasets/
/partIVch4_1/weights/
/partIVch4_1/nn4.small2.v7.h5
/partVch1/data/
/partVch1/models/
/partVch1/output/
/partVch1/tune1.midi
/partVch1_1/output/
/partVch1_1/data/
/partVch1_1/models/
/partVch1_1/dinos.txt
/partVch1_1/tune1.midi
/partVch1_1/shakespeare.txt
/partVch1_1/shakespeare.png
/partVch1_2/shakespeare.txt
/partVch1_2/output/
/partVch1_2/shakespeare.png
/partVch1_2/tune1.midi
/partVch1_2/dinos.txt
/partVch1_2/models/
/partVch1_2/data/
/partVch1_2/shakespeare.svg
/partVch1_3/models/
/partVch1_3/data/
/partVch1_3/output/
/partVch1_3/shakespeare.png
/partVch1_3/dinos.txt
/partVch1_3/shakespeare.txt
/partVch1_3/tune1.midi
