# Created by .ignore support plugin (hsz.mobi)
/venv/
/partIVch2/datasets/ResNet50.h5
/partIVch2/myfig.jpg
/partIVch2/myfig1.jpg
/partIVch2/myfig2.jpg
/partIVch2_1/datasets/
/partIVch3/font/
/partIVch3/images/
/partIVch3/model_data/
/partIVch3/nb_images/
/partIVch3/out/
